.welcome-container {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.welcome-top {
  margin-top: 40px;
}

.welcome-small {
  font-size: 20px;
  opacity: 0.9;
}

.welcome-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.welcome-sub {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.9;
}

/* Image */
.welcome-image-box {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.welcome-image {
  width: 80%;
  max-width: 320px;
}

/* Bottom Section */
.welcome-bottom {
  margin-top: auto;
  background: white;
  padding: 30px 20px;
  border-top-left-radius: 60px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Buttons */
.create-btn {
  padding: 16px;
  background: var(--primary-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.signin-btn {
  padding: 16px;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 600;
}
