.welcome{
  height:100vh;
  display:flex;
  flex-direction:column;
  padding:26px;
  /* background:var(--primary-color); */
  color:#fff;
  box-sizing:border-box;
}
.welcome-top{
  margin:36px 0;
}
.welcome-top h3{ font-size:20px; margin:0; opacity:.95; }
.welcome-top h1{ font-size:34px; margin:6px 0; font-weight:800; line-height:1.05; }
.welcome-top p{ margin:6px 0; opacity:.95; }

.welcome-image{ display:flex; justify-content:center; flex:1; }
.welcome-image img{ width:100%; max-width:320px; }

.welcome-bottom{
  /* background:#fff; */
  padding:24px;
  /* border-top-left-radius:60px; */
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:14px;
}

.primary{
  padding:14px;
  border-radius:12px;
  border:none;
  font-weight:500;
}

.outline{
  padding:14px;
  border-radius:12px;
  background:transparent;
  font-weight:500;
}
