@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-calendar/dist/Calendar.css";

.slick-dots li{
    margin: 0px 12px!important;

}


/* .slick-dots li.slick-active button:before {
    background: black;
    width: 20px;
    height: 10px;
    border-radius: 10px;
} */

/* .d-listcard h2,.d-listcard p, .d-listcard span{
    font-family: poppins;
} */
.slick-dots li{
    width: 0;
    height: 0;
}
.slick-dots li button{
    height: 4px;
    width: 6px;
    border-radius: 50%;
    background: #2b7fff;
}
.slick-dots li.slick-active button{
    background: #2b7fff;
    height: 4px;
    width: 18px;
    border-radius: 5px;
}

.slick-dots li button:before {
    font-size: 0px;
    width: 0px;
    height: 0px;
}
@media(min-width: 380px) {
  .illustration img{
    height: 300px;
  }
  .illustration{
    align-items: center;
  }
  .welcome-image img{
    height: 300px;
  }
  .welcome-image{
    align-items: center;
  }
}